/* Main marketing message and sign up button */
.jumbotron {
  color: #7DB4B5;
}

/* Customize the nav-justified links to be fill the entire space of the .navbar */

.nav .nav-justified {
  background-color: #7DB4B5;
}
.nav-justified > li > a {
  color: #7DB4B5;
  background-color: #7DB4B5; /* Old browsers */
}

/*
.nav-justified > .active > a,
.nav-justified > .active > a:hover,
.nav-justified > .active > a:focus {
  background-color: grey;
}
*/

.btn-primary {
  background-color: #7DB4B5;
  border-color: #7DB4B5;
}

h2 {
  color: #89bdd3;
}

.legend {                                                  
  font-size: 12px;                                         
}

rect {                                                     
  stroke-width: 2;                                         
}


.tooltip {                                                     
  background: #eee;                                             
  box-shadow: 0 0 5px #999999;                                  
  color: #333;
  display: none;                                                 
  font-size: 12px;                                              
  left: 130px;                                                  
  padding: 10px;                                                
  position: absolute;                                          
  text-align: center;                                         
  top: 95px;                                                    
  width: 80px;                                                
  z-index: 10;                                                
}  