/* Main marketing message and sign up button */
.jumbotron {
  color: #f79f79;
}

/* Customize the nav-justified links to be fill the entire space of the .navbar */

.nav .nav-justified {
  background-color: #f79f79;
}
.nav-justified > li > a {
  color: #b56969;
  background-color: #f79f79; /* Old browsers */
}

/*
.nav-justified > .active > a,
.nav-justified > .active > a:hover,
.nav-justified > .active > a:focus {
  background-color: grey;
}
*/

.btn-primary {
  background-color: #f79f79;
  border-color: #f79f79;
}

h2 {
  color: #c5d5cb;
}

.legend {                                                  
  font-size: 12px;                                         
}

rect {                                                     
  stroke-width: 2;                                         
}

