{% extends "layout.html" %}
{% block content %}


      <div class="jumbotron">
		  <h1><b style="color:#5cb85c"><i class="fa fa-info-circle"></i> About</b></h1><br>		  
      </div>
      

    <div class="row">
        <div class="col-sm-offset-2 col-sm-8">

			<div class="panel panel-success">
				<div class="panel-heading">What is smajik?</div>
				<div class="panel-body">Smajik finds the most positive and negative recent tweets about a topic</div>
			</div>
            <br>
			
            <h3>How does smajik work?</h3>
            <p>Smajik sources recent tweets that have the queried keyword using Tweepy's API. Then Smajik
			runs the tweets through Python's TextBlob library for sentiment analysis and sifts through the
			top positive and negative tweets</p>
			
            <br>

        </div>
    </div>
    
    
{% endblock %}