{% extends "layout.html" %}
{% block content %}

      <!-- Jumbotron -->
      <div class="jumbotron">
		  <h1><b style="color:#5cb85c"><i class="fa fa-info-circle"></i> F.A.Q.</b></h1><br>		  
      </div>
      

    <div class="row">
        <div class="col-sm-offset-2 col-sm-8">

            <h3>What is smajik?</h3>
            <p>Smajik is a webapp for finding most positive and most negative tweets about a topic</p>
            <br>
			
            <h3>How does smajik work?</h3>
            <p>Smajik sources recent tweets having the queried keyword using Tweepy's API. Then Smajik
			runs the tweets through TextBlob Python library for sentiment analysis and sifts through the
			top positive and negative tweets</p>
			
            <br>

        </div>
    </div>
    
    
{% endblock %}