{% extends "layout.html" %}
{% block content %}

      <!-- Jumbotron -->
      <div class="jumbotron">
		  <h1><b style="color:#5cb85c"><i class="fa fa-envelope"></i> Contact</b></h1><br>
      </div>
    
   
   
      <div>	
          <div id="contacts">
              <div class="row">	     
                  <div class="col-sm-offset-4 col-sm-6">
                  
					<h4>Thanks for your message! </h4>
                  </div>
              </div>
          </div>
      </div>
      
      <br><br>      
    
{% endblock %}
